<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class='main-container'>

        <div class='container'>

            <div class='left-sidebar'>
                <h2>Dashboard</h2>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/PROFILE'>PROFILE</a>

                  </div>
                <div>
  <a class='left-sidebar-links' href='http://localhost:4200/payslip'>PAYSLIP</a>

                </div>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/empleave'>EMPLOYEE-LEAVE</a>
                </div>
<!--                 
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/pdf'>PAYSLIP-PDF</a>
                </div> -->


            </div>

            <div class='dashboard'>
                <H2 align="center">EMPLOYEE PORTAL-PROFILE</H2>
                <div class="time">
                    TIME:{{time}}
                </div>

                
                <div class="shutdown">
                    <button class="log"  (click)="shutdown()">LOGOUT👋</button>
                </div>

               

              

                <div class="rightbar">
                    <br>
                    
                    <br>
                    
                    <h4>EMPLOYEE-ID:{{empid | number}}</h4>
                    <h4>FIRST NAME:{{name}}</h4>
                    <h4>LAST NAME:{{name2}}</h4>
                    <h4>DATE OF BIRTH:{{dob | date}}  </h4>
                    <H4>PRACTICE:{{practice}}</H4>
                    <H4>POSITION:{{position}}</H4>
                    <h4>POSTCAL CODE:{{postcode}}</h4>
                    <h4>STREET:{{street}}</h4>
                    <H4>CITY:{{city}}</H4>
                    <H4>COUNTRY:{{country}}</H4>
                    <H4>TELEPHONE NUMBER:{{telenum}}</H4>
                </div>


            </div>


        </div>
    </div>
